
@font-face {
    font-family: "SFRegular"; 
    src: url("fonts/SFUIText-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {
    font-family: "SFBold"; 
    src: url("fonts/SFUIText-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    } 
body{
    font-family: SFRegular;
    background: rgba(86, 192, 86, .3);;
}
h1 {
    font-family: SFBold;
    font-size: 44px;
    color: green;
}
header{
    margin: 0 auto;
    width: 700px;
    /* border: 1px solid #999999; */
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px #008000;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo h1 {
    align-self: baseline;
    /* text-shadow: 0px 0px 1px black; */
}
.logo span{
    font-family: SFBold;
    margin-left: 5px;
    margin-bottom: 15px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    /* text-shadow: 0px 0px 1px black; */
}
main{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-side{
    width: 300px;
    background: #fff;
    box-shadow: 0px 0px 5px #008000;
    border-radius:5px;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.center{
    display: flex;
    justify-content: center;
    width: 100px;
}
.right-side{
    width: 300px;
    background: #fff;
    box-shadow: 0px 0px 5px #008000;
    border-radius:5px;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.calc-title{
    font-size: 18px;
    color: #008000;
    margin-bottom: 10px;
}
.calc-switcher{
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
   /* border: 1px solid #008000; */
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   box-shadow: 0px 0px 2px #008000;
}
.switcher_item{
    width: 100px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid #008000;
}
.switcher_item.active{
    background: #008000;
    color: #ffffff;
}
.switcher_item:first-child{
    border-radius: 5px 0 0 5px;
    /* border-right: 1px solid #008000; */
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
.switcher_item:last-child{
    border-radius:0 5px 5px 0;
    /* border-left: 1px solid #008000; */
    border-right: none;
    -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -ms-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
}
.calc_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #008000; */
    box-shadow: 0px 0px 5px #008000;
    border-radius:5px;
    height: 100px;
    padding: 10px 20px 10px 20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
#entryInp{
    font-family: SFBold;
    border: none;
    font-size: 36px;
}
#outerInp{
    font-family: SFBold;
    border: none;
    font-size: 36px;
}
.now-exchage-1{
    border-top: 1px solid #008000;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    color: #008000;
}
.now-exchage-2{
    border-top: 1px solid #008000;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    color: #008000;
}
input:focus{
    outline: none;
}
#valute{
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #008000;
    appearance: auto;
}
/* .center{

} */
.center img{
    margin-top: 90px;
    width: 50px;
}

footer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.copyright{

    text-align: center;
    box-sizing: border-box;
    width: 700px;
    padding: 20px;
    background: rgba(0, 128, 0, 1);
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px #008000;
    
}
.copyright a{
    font-family: SFRegular;
    padding: 5px 5px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 4px black;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}
.copyright a:hover{
    border-bottom: 2px solid #fff;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
#copy{
    text-shadow: 0px 0px 4px black; 
}